
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ControlCovid.Models.Consulta

<div class="jumbotron">
    <div style="background-image: url(../../Content/Images/LogoCasaRey.jpeg);  background-size: 100% 100%;
    height:300px;
    width:1020px;">
    </div>
</div>
<div class="col-lg-10" style="float:none;margin:auto;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-warning">
                <div class="panel-heading">Consultar</div>
                <div class="panel-body">
                    @* @Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                    @using (Html.BeginForm("GenerarReporte", "Report", FormMethod.Post, new { target = "_blank" }))
                    {

                        @Html.AntiForgeryToken()
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>@Html.LabelFor(model => model.FechaServicio)</td>
                                    <td>@Html.TextBoxFor(model => model.FechaServicio, new { @class = "form-control", @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })</td>
                                    <td>@Html.ValidationMessageFor(model => model.FechaServicio, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Servicio)</td>
                                    <td> @Html.DropDownListFor(model => model.IdServicio, Model.Servicio, new { @class = "form-control" })</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.SoloPersonasNuevas)</td>
                                    <td> @Html.CheckBoxFor(model => model.SoloPersonasNuevas, new { @class = "form-control" })</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" value="Generar" class="btn btn-success" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }

                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

