@{
    ViewBag.Title = "Home Page";
}

@model ControlCovid.Models.Asistente



<div class="jumbotron">
    <div style="background-image: url(../../Content/Images/LogoCasaRey.jpeg);  background-size: 100% 100%;
    height:300px;
    width:1020px;">        
    </div>
</div>


<div class="jumbotron">
    <div style="text-align:justify;">
        <h3>
            Les damos la bienvenida a nuestra Iglesia Casa del Rey, sabemos que al asistir a la casa de nuestro Rey vamos a volver a vivir un tiempo muy especial.
            Como es del conocimiento de todos damos estricto cumplimiento a la norma de Bioseguridad el DECRETO DISTRITAL No. 0732 DEL 28 DE AGOSTO DE 2020, en su artículo 7° refiere: “Prohibir la realización de actividades, eventos y aglomeraciones públicas y privadas de cualquier tipo en lugares cerrados o abiertos que impliquen la concurrencia de más de cincuenta (50) personas como medida preventiva para evitar el contagio de la COVID-19”.
            Hemos querido que esta reapertura se desarrolle con los más altos estándares de bioseguridad, diseñando, adoptando, e implementando institucionalmente los Protocolos de Bioseguridad, asegurando de forma responsable, segura y saludable la reapertura de nuestra Iglesia, porque para nosotros lo más preciado son ustedes como miembros constituyentes de fe, por esta razón vamos a reanudar nuestros servicios de manera gradual, con miras a una pronta flexibilización de medidas conforme las autoridades lo autoricen.
            En esta primera fase de reapertura solo estaremos abriendo nuestras puertas para las personas mayores de edad, que no tengan pre existencias médicas. Por prudencia y responsabilidad con el cuidado con los niños y jóvenes no los incluimos en esta fase, porque sabemos que son de mayor cuidado y preferimos dar un tiempo de espera.
            Igualmente informamos que por disposición normativa se prohíbe el ingreso de personas que presenten síntomas de contagio, como es temperatura corporal mayor de 38°, tos o estornudos recurrente; también queremos recordar que el uso de tapabocas es obligatorio.

        </h3>        
    </div>
</div>

<div class="col-lg-10" style="float:none;margin:auto;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-warning">
                <div class="panel-heading">Reservación de cupo</div>
                <div class="panel-body">
                    @* @Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                    @using (Html.BeginForm("GuardarAsistente", "Home", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>@Html.LabelFor(model => model.NumeroIdentificacion)</td>
                                    <td>@Html.TextBoxFor(model => model.NumeroIdentificacion, new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(model => model.NumeroIdentificacion, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Tipo Identificación")</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.TipoIdentificacion, new SelectList(Enum.GetValues(typeof(ControlCovid.Models.TiposIdentficiacion))), new { @class = "form-control" })
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.PrimerNombre)</td>
                                    <td>@Html.TextBoxFor(model => model.PrimerNombre, new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.SegundoNombre)</td>
                                    <td>@Html.TextBoxFor(model => model.SegundoNombre, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.PrimerApellido)</td>
                                    <td>@Html.TextBoxFor(model => model.PrimerApellido, new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.SegundoApellido)</td>
                                    <td>@Html.TextBoxFor(model => model.SegundoApellido, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Telefono)</td>
                                    <td>@Html.TextBoxFor(model => model.Telefono, new { @type = "number", @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.CorreoElectronico)</td>
                                    <td>@Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })</td>
                                </tr>
                                @*<tr>
                                        <td>@Html.LabelFor(model => model.Temperatura)</td>
                                        <td>@Html.TextBoxFor(model => model.Temperatura, new { @class = "form-control" })</td>
                                        <td>@Html.ValidationMessageFor(model => model.Temperatura, "", new { @class = "text-danger" })</td>
                                    </tr>*@
                                <tr>
                                    <td>@Html.LabelFor(model => model.Servicio)</td>
                                    <td> @Html.DropDownListFor(model => model.IdServicio, Model.Servicio, new { @class = "form-control" })</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.EsPrimeravez)</td>
                                    <td>@Html.CheckBoxFor(m => m.EsPrimeravez)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" value="Guardar solicitud" class="btn btn-success" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }

                </div>
                <div class="panel-footer">
                  
                    </div>
                </div>
            @if (ViewBag.TheResult == true)
            {
                <div class="alert alert-success">
                    <strong> @ViewBag.Mensaje</strong>
                </div>
            }@if ((ViewBag.TheResult == false) && (ViewBag.Mensaje != string.Empty))
            {

                <div class="alert alert-danger">
                    <strong>@ViewBag.Mensaje</strong>
                </div>
            }
        </div>
    </div>
</div>
